{% extends "index.njk" %}
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  {{ statusCode }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ statusCode }} - {{ title }}</h1>
      {% for line in message %}
        <p class="govuk-body">
          {{ line }}
        </p>
      {% endfor %}
    </div>
  </div>
{% endblock %}
