{% extends "index.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/password-input/macro.njk" import govukPasswordInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle -%}
  Login
{%- endblock %}

{% block content %}
  {% if errors %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors.errorSummary
    }) }}
  {% endif %}

  <h1 class="govuk-heading-xl">Sign in</h1>

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST" action="/login" autocomplete="off">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        {{ govukInput({
          label: {
            text: "Email address"
          },
          classes: "govuk-!-width-two-thirds",
          id: "email",
          name: "email",
          value: email,
          spellcheck: false,
          errorMessage: errors.fieldErrors.email and{
            text: errors.fieldErrors.email.text
          },
          attributes: {
            "autocapitalize": "off"
          }
        }) }}

        {{ govukPasswordInput({
          label: {
            text: "Password"
          },
          id: "password",
          name: "password",
          classes: "govuk-!-width-two-thirds",
          attributes: {
            autocomplete: true,
            spellcheck: false
          },
          errorMessage: errors.fieldErrors.password and{
            text: errors.fieldErrors.password.text
          }
        }) }}

        {{ govukButton({
          text: "Sign in"
        }) }}
      </form>

      <h2 class="govuk-heading-m">No sign in details</h2>

      <p class="govuk-!-margin-bottom-6">
        <a class="govuk-link" href="/signup">I don't have an account</a>
      </p>

      <h2 class="govuk-heading-m">Problems signing in</h2>

      <p class="govuk-!-margin-bottom-6">
        <a class="govuk-link" href="/reset-password">I’ve forgotten my password</a>
      </p>

    </div>
    {% include "_partials/before-you-start.njk" %}
  </div>
  <div class="govuk-grid-row govuk-body">
    {% include "_partials/contact.njk" %}
  </div>
{% endblock %}
